<div id="userbox">
	<div id="history">
		SERERS INVOVLED WITH HERE
	</div>
	<div id="details">
		<div id="avatar">
			<img src="http://lorempixum.com/300/200/">
		</div>
		<div id="info">
			<div id="username">
				Username: <%= @user.username %>
			</div>
			<div id="email">
				Email: <%= @user.email %>
			</div>
			<div id="mcusername">
				mcUsername
			</div>
			<div id="bio">
			biography
			
			<% @user.comments.each do |comment| %>
				<div style="border:1px;">
					<%= comment.user.username unless comment.user.nil? %><br>
					<%= comment.body %>
					<%= link_to 'remove', comment, :confirm => 'Are you sure?', :method => :destroy %>
				</div>
			<% end %>
			</div>
		</div>	
	</div>
	<br style="clear:both;">
	
</div>